{% extends "base.html" %} <!-- This base.html includes 3 portions: page_title, css_files, and body_contents.-->
{% load static %}

{% block page_title %} 
    Edit Event
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/posts.css" %}">
{% endblock %}

{% block body_contents %} 
    {% include "./includes/header.html" %} 
    <section class="create-blog-content">
        <h2>Edit Event</h2>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <table id="post-new-blog">
            {% for items in edit_post_form%}
              <tr>
                <th>{{items.label}}</th>
                <td>{{items}}</td>
                <td>
                  {% for error in items.errors%}
                    {{error}}
                  {% endfor %}
                </td>
              <tr>
            {% endfor %}
            <td></td>
            <td align=center><button type="submit">Submit Post</button></td>     
          </table>
        </form> 
        <p> You are posting as {{user.username}}</p>
    </section>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <p{% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </p>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %} 