{% extends "base.html" %} <!-- This base.html includes 3 portions: page_title, css_files, and body_contents.-->
{% load static %}

{% block page_title %} 
    {{posts.title|title}} 
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/posts.css" %}">
{% endblock %}

{% block body_contents %} 
    {% include "./includes/header.html" %}  
<div id='center'>
    <section class="blog-content"> 
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p{% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </p>
            {% endfor %}
        </div>
        {% endif %}
        <h1>{{posts.title|title}}</h1>
        <img src="{{posts.image.url }}" alt=""> 
        <p>
            {{posts.content}}
        </p>
        <p id="blog-author-section">
            <b>Post Author</b> <br>
            <img src="{{author_profile.avatar.url}}"><br>
            {{posts.author}}
        </p>
        <footer>
            <p>Created on: {{posts.created_on}}</p>
            <p>Last Modified on: {{posts.last_modified}}</p>
        </footer>
    </section>
    <section class="comments-section">
        <h2>Comments</h2>
        {% if user.is_authenticated %}
        <p> You are commenting as {{user.username}}</p>
        <form method="post">
            {% csrf_token %}
            <table>
                {% for items in create_comment_form %}
                <tr>
                    <th>{{items.label}}</th>
                    <td>{{items}}</td>
                <tr>
                    <td>
                        {% for error in items.errors%}
                        {{error}}
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
                </tr>
                <tr><td></td>
                    <td align=center><button type="submit">Submit Comment</button></td> 
                </tr>
            </table>
        </form>
        {% endif %} 
            <div class='comment'>
            {% for comment in comments %}
                <b>{{comment.title}}</b><br>
                {{comment.body}} <br>
                Comment By: {{comment.commenter.username}} <br>
                {{comment.date_added}} <br><br>
            {% endfor %} 
            </div>
    </section>
</div>
{% endblock %} 