@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html {
    font-family: 'Raleway', sans-serif; 
    background-color: rgb(145, 181, 221);
}

body {
    margin: 0;
}
 
pre, p {
    font-family: 'Raleway', sans-serif; 
}
