{% extends "base.html" %} <!-- This base.html includes 3 portions: page_title, css_files, and body_contents.-->
{% load static %}

{% block page_title %} 
    Create New Account
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "account/account.css" %}">
{% endblock %}

{% block body_contents %} 
    {% include "blog/includes/header.html" %} 

    <section class="registration-form">
        <h2>Register new user</h2>
        <form method="post" action="">
            {% csrf_token %}
            <table id="create-new-user">
                {% for items in create_user_form %}
                    <tr>
                        <th>{{items.label}}</th>
                        <td>{{items}}</td> 
                        <td> 
                        {% for error in items.errors %}
                            {{error}}</br>
                        {% endfor %}   
                        </td>
                    </tr>
                {% endfor %}
            <td><button type="submit" value="Register">Register</button></td>
            </tr>
            </table>
        </form>
    </section>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <p{% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </p>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %} 